{
  "ServiceId": "io.codefresh.orion.client.node.runner",
  "Params": {
    "Target": {
      "Node": "node",
      "NodeParams": "",
      "WorkDir": "/workdir/grunzwei-fresh/promises-blog",
      "JSFile": "/workdir/grunzwei-fresh/promises-blog/examples/async-catch-failure.js",
      "AppParameters": ""
    },
    "Name": "problem when catching asynchronous exceptions"
  },
  "Type": "NodeRunner"
}
