{
  "ServiceId": "io.codefresh.orion.client.node.runner",
  "Params": {
    "Target": {
      "Node": "node",
      "NodeParams": "",
      "WorkDir": "/workdir/grunzwei-fresh/promises-blog",
      "JSFile": "/workdir/grunzwei-fresh/promises-blog/examples/example4.js",
      "AppParameters": ""
    },
    "Name": "example 4 - using an async function with callback several times with error handling"
  },
  "Type": "NodeRunner"
}
