{
  "ServiceId": "io.codefresh.orion.client.node.runner",
  "Params": {
    "Target": {
      "Node": "node",
      "NodeParams": "",
      "WorkDir": "/workdir/grunzwei-fresh/promises-blog",
      "JSFile": "node_modules/mocha/bin/mocha",
      "AppParameters": "examples/throwing-async-callback.js"
    },
    "Name": "example 3 - async function with callback that still throw an exception, arrrrggggg"
  },
  "Type": "NodeRunner"
}
