{
  "ServiceId": "io.codefresh.orion.client.node.runner",
  "Params": {
    "Target": {
      "Node": "node",
      "NodeParams": "",
      "WorkDir": "/workdir/grunzwei-fresh/promises-blog",
      "JSFile": "node_modules/mocha/bin/mocha",
      "AppParameters": "examples/use-async-callback.js"
    },
    "Name": "example 1 - using async function with callback"
  },
  "Type": "NodeRunner"
}
